header {
	background: rgba(25, 25, 112, 0.9);
    color: white;
    position: relative;
    z-index: 100;
}

.menu-items {
	height: 90px;
    line-height: 90px;
}

.menu-item {
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    box-sizing: border-box;
    position: relative; 
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item-menu {
    width: 12%;
    margin: 20px 1.5% 0px 1.5%;
}

.menu-item-languages {
    width: 8%;
    margin: 20px 5.5% 0px 1.5%;
}

.menu-item-logo {
    width: 40%;
    height: 90px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.00001),rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.00001));
}

.menu-item-visually-impaired {
    width: 25%;
    margin: 20px 1.5% 0px 3.5%;
}

.menu-item-languages .list {
    display: none;
    width: 15%;
}

.menu-item-languages:hover .list {
    display: block;
}

.menu-item-languages .list .item:hover {
    border: 1px solid white;
    border-radius: 10px;
    background: rgb(25, 25, 112);
    color: white;
}

.menu-item-languages .list {
    width: 100%;
    box-sizing: border-box;
}

.menu-item-languages .list .item {
    height: 25px;
    line-height: 25px;
}

.button-style {
	border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: normal;
	position: relative;
	color: white;
	text-decoration: none;
	text-shadow: -1px -1px #000;
	user-select: none;
	outline: none;
	background: rgba(0, 191, 255, 0.8);
	background-image: linear-gradient(45deg, rgba(255, 255, 255,.0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
	background-repeat: no-repeat;
	background-size: 200% 100%, auto;
	background-position: 200% 0, 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
	text-transform: uppercase;
}

.button-style:hover {
	transition: .5s linear;
	color: #102c54;
  	font-size: 20px;
  	background-color: #B0E0E6;
  	background-position: -200% 0, 0 0;
  	
}

.button-style:active {
	background-color: blue;
}

.menu-item-logo a, .menu-item-logo img {
    display: block;
    margin: auto;
}

.menu-item-logo .text {
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}